/* CSS declarations go here */
/*body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}*/

/*--------------------------------------------------------------------*/ 

#headerbar {
   background: #d2edf4;
   background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
   padding: 0;
   position: static;
   display: block;
   align-content: center;
}

.searchbar {
    background: white;
    padding: 10px;
    
}

.searchbar img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.searchbar:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}


/*-----------------------------------------------------------------------------------*/
#mainview {
   position: static;
   display: block;
}

.vidviewer {
    min-height: 100%;
    background: white;
    padding: 10px;
    
}

.vidviewer img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.vidviewer:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}

/*-------------------------------------------------------*/

.dragtry {
    width: 300px;
    height: 100px;
    background: #A1DB6A;
    position: relative;/*parent must have positioning*/
}
.player2 {
    border: 0;
    height: 80px;
    width: 100%;
    background: #ddd;
}
/*Cover up the entire element (could be limited to just covering the iframe element)*/
.dragtry:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

