/* CSS declarations go here */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#headerbar {
   background: #d2edf4;
   background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
   padding: 7px 10px 7px 10px;
   position: fixed;
   display: block;
   position: fixed;
}

#mainview {
   position: static;
   display: block;
}

/*--------------------------------------------------------------------*/ 
.searchbar {
    display: block;
    background: white;
    position: relative;
    padding: 10px;
    
}

.searchbar img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.searchbar:hover {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}


/*-----------------------------------------------------------------------------------*/

.vidviewer {
    display: block;
    margin: auto;
    min-height: 100%;
    background: white;
    position: relative;
    padding: 10px;
    
}

.vidviewer img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.vidviewer:hover {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}

/*-------------------------------------------------------*/

