/* CSS declarations go here */
/*body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}*/

/*--------------------------------------------------------------------*/ 

#headerbar {
   background: #d2edf4;
   background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
   padding: 0;
   position: static;
   display: block;
   align-content: center;
}

.searchbar {
    background: white;
    padding: 10px;
    
}

.searchbar img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.searchbar:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}


/*-----------------------------------------------------------------------------------*/


.vidviewer {
    min-height: 100%;
    background: white;
    padding: 10px;
    
}

.vidviewer img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.vidviewer:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}

/*-------------------------------------------------------*/

